/* UNIVERSAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: seashell;
    font-size: 22px;
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
}

/* NAV & LOGO */
nav {
    display: flex;
    align-items: center;
    border-bottom: 2px solid red;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 69px;
    width: 100%;
}

.nav-list li a {
    color: #fff;
    border: 1px solid black;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1em;
}

.nav-list li a:hover {
    color: red;
    transition-delay: 0.1s;
}


.logo {
    /* width: 190px; */
    display: flex;
    justify-content: flex-start;
    /* background: url("../images/img-tea-cozy-logo.png") no-repeat;
    background-size: contain; */
    height: 50px;
    margin: 20px;
  
}

/* BANNER/MISSION */
#mission {
    height: 700px;
    background: url("../images/img-mission-background.jpg") center center no-repeat;
}

.mission-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 6em;
    width: 100%;
    background-color: black;
    text-align: center;
    line-height: 1.3em;
    opacity: 70%;
}

/* FEATURED */
#featured {
    justify-content: center;
    margin: 50px;
    display: flex;
    flex-direction: column;
    
}

.featured-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    line-height: 2em;
}

.tea-card-parent {
    margin-top: 20px;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.tea-card-child {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    line-height: 1.3em;
}

.tea-img {
    width: 300px;
    height: 200px;
}

/* LOCATIONS */
#locations {
    height: 500px;
    background: url("../images/img-locations-background.jpg") center center no-repeat;
    display: flex;
    justify-content: center;
    margin: 50px;
    flex-direction: column;
}

.locations-title {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    text-align: center;
    line-height: 2em;
}

.location-parent {
    margin-top: 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.loc-box {
    width: 300px;
    padding: 15px;
    line-height: 2em;
    background-color: black;
    opacity: 70%;
    text-align: center;
    margin: 15px 40px;
    
    
}

/* FOOTER */
footer {
    margin: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
    text-align: center;
    margin-bottom: 30px;
}
